*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
#container{
    width:100%;
    
    padding:10px;
    background-color: #ffffff;
    margin-top:30px;
}

#Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#head-2{
    display: flex;
    
}
#final-logo{
    width:140px;
    height:70px;
    margin-top:40px;
}
.part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left : 1px solid #9d9696;
    padding:0 20px;
}
.cont{
    color:#9d9696;
    line-height: 1.5;
    font-size: 12px ;
    letter-spacing: 2px;

}
nav{
    display: flex;
    justify-content: end;
    padding-right:200px; 
    height:20px;
    align-items: center;
    margin-top: 15px;
    font-weight: 500;
    
    
}

.nav-links{
    text-decoration: none;
    border-top: 1px solid #9d9696;
    padding: 10px 10px 8px 10px;
    color : #656565;
    letter-spacing: 2px;
    font-size: 14px;
}
#row-2{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 15px;
    column-gap: 80px;
    padding: 10px 0;
}
.con{
    display: flex;
    column-gap: 10px;
}
.nav-content{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-shadow: #9d9696;
}


form {
    display: flex;
    flex-direction: column;
}

.form-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.form-group{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width:40%;
}
.page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cb-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding:0 30px;
}
.first-part{
    padding-top:10px;
    width:50%;
    margin-right: 20px;
    display: flex;
    column-gap: 10px;
}

#continue{
    padding:5px;
    color: #9d9696;
    border: 2px solid #9d9696;
}
label{
    letter-spacing: 1px;
    font-size: 12px;
    color: #9d9696;
}
.form-group input{
    border: 1px solid #9d9696;
}

.pay-image{
    width: 40px;
    height:30px;
    object-fit: contain;
    object-position: center;
    margin-right: 8px;
}

.form-group-2{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.form-row-2{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}
#place-order{
    padding:5px;
    color: #9d9696;
    border: 2px solid #9d9696;
}

.p3-head{
    font-size: 15px;
    color: #656565;
    letter-spacing: 1.5px;
}
.p3-cont{
    font-size: 12px;
    color: #9d9696;
    letter-spacing: 1px;
    padding-top: 10px;
}
.form-row-3{
    
    padding: 30px 10px;
    border-bottom: 1px solid #9d9696;
}
.form-row-4{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}
#p3-cont-orange{
    color: rgb(239, 99, 12);
}

#form-container-1{
    
    display: none;
}
#form-container-2{
    
    display: none;
}
#form-container-3{
    
    display: none;
}

footer{
    width:100%;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top:50px;
}
#footer-container{
    display: flex;
    justify-content:space-evenly;
    column-gap: 40px;
    margin:20px 200px 10px 200px;
    border-top: 10px solid #c5b4b4;
}
.footer1{
    width:180px;
    height:35px;
    
}
.footer2{
    width:200px;
    height:75px;
}

.col{
    display: flex;
    flex-direction: column;
    
}
.inner-content{
    display: flex;
    column-gap: 20px;
}
.footer-head{
    padding: 20px 0;
    font-weight: 700;
    color: #656565;
    letter-spacing: 2px;
}
.foot-content{
    padding: 5px 0;
    font-size: 12px;
    color: #9d9696;
    letter-spacing: 1px;
}
#searchbar{
    height:30px;
    margin-bottom: 20px;
}
#search-inner{
    position: relative;
}
#searchicon{
    position: absolute;
    right:10px;
}

.last{
    display: flex;
    background-color: #ffffff;
    margin:0px 200px 0px 200px;
    justify-content: space-between;
    padding:10px;
    border-top: 1px solid #9d9696;
}

.last-content{
    font-size: 12px;
    color: #c5b4b4;
}
button{
    cursor:pointer;
}
.nav-links:hover{
    scale:1.1;
    background-color: #c5b4b4;
    cursor: pointer;
}

/* input:checked{
    background-color: #656565;
}
input:not(:checked){
    background-color: #87d53e;
} */


/* input:is::checked{
    background-color: #656565 !important;
} */









